
*{margin: 0; padding:0; }

body{
	font-family:arial;
	background: gray;
}

#spelplan{
	width: 100%;
}

#game-board, #game-info {
	width:576px;
	border-style: solid;
	border-width: 1;
	border-color: black;
	margin: auto;
	margin-top: 8px;
	position: relative;
}
#game-info {
    height: 180px;
    overflow: auto;
    background-color: white;
}

.card{
	height:24px;
	width:24px;
	display:inline-block;

	/* background-image: url('tileset1.png'); */

    /* incase we want characters as tiles */
    text-align: center;
    vertical-align: middle;
    line-height: 24px;
}

.active {
/* TODO */
}

.agent {
    position: absolute;
    width: 24px;
    height: 24px;
    z-index: 1;
    font-size: large;
	border-style: solid;
	border-width: 1;
	border-color: white;
}

.name {
    position: absolute;
    width: auto;
    height: auto;
    z-index: 1;
    font-size: small;
    color: white;
}

table td {
    border: 1px solid black;
    width: 24px;
    height: 24px;
    margin: 0px;

}
table.no-spacing {
  border-spacing:0; /* Removes the cell spacing via CSS */
  border-collapse: collapse;  /* Optional - if you don't want to have double border where cells touch */
  table-layout: fixed;
}
td.selected {
    border: 1px solid white;
}

img {display:block; }